*{
    padding: 0;
    margin: 0;
    cursor: url(cursor4.png) , auto;
    
}
.body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(bgi.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size:cover;
}
#amtech{
    font-size: 6rem;
    margin-left: 2rem;
    font-weight: bolder;
    color:rgb(255, 186, 47);
    font-family:'Times New Roman', Times, serif;
}
.box{
   top: 80%;
   left: 40%;
    position: relative;
    height: 35rem;
    border: 2%;
    border-color: rgb(0, 0, 0,0%);
    width: 25rem;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.3);
    animation: bordercolor 3s infinite ;
}
@keyframes bordercolor{
 50%{ 
    transform: translateY(10px);
 }
}
.login{
    margin-left: 26%;
    margin-top: 2.5rem;
    width: 6rem;
    height: 2.5rem;
    border-radius: 25px 0 0 25px;
    border: 2%;
    background-color: rgb(0, 0, 0,10%);
    transition: 0.5s;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    border-style:solid none solid solid;
    border-color: rgba(238, 139, 10, 50%);
    background-color: rgba(238, 139, 10, 80%);
    box-shadow: 0px 1px 36px rgba(238, 139, 10, 80%) ;
}
.register{
    width: 6rem;
    height: 2.5rem;
    border-radius: 0 25px 25px 0;
    border: 2%;
    margin-left: -1%;
    background-color: rgb(0, 0, 0,10%);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    border-style:solid solid solid none;
    border-color: rgba(238, 139, 10, 50%);
    transition: 0.5s;
}
#input1{
    margin-left: 28%;
    margin-top: 20%;
    height: 2rem;
    width: 12rem;
    background-color: rgb(0, 0, 0,0%);
    outline: none;
    border: 2%;
    border-style:none none solid none;
    border-color: rgb(208, 154, 154);
    color: rgba(238, 139, 0);
    transition: 0.5s;
}
#input1:hover{
    transform: scale(1.1);
    transition: 0.5s;
    border-style:none solid solid solid;
    border-color: rgb(208, 154, 154,60%);
}
.input2{
    margin-left: 28%;
    margin-top: 10%;
    height: 2rem;
    width: 12rem;
    background-color: rgb(0, 0, 0,0%);
    outline: none;
    border-bottom-color:black;
    color: rgba(238, 139, 10);
    border: 2%;
    border-style:none none solid none;
    border-color: rgb(208, 154, 154);
    transition: 0.5s;
}
.input2:hover{
    transform: scale(1.1);
    transition: 0.5s;
    border-style:none solid solid solid;
    border-color: rgb(208, 154, 154,60%);
}
.submit{
    margin-left: 30%;
    margin-top: 50%;
    width: 10rem;
    height: 2rem;
    border-radius: 20px;
    border: 0;
    background-color:rgba(238, 139, 10,60%) ;
    transition: 0.5s;
    
}
.submit:hover{
    transform: scale(1.2);
    transition: 0.5s;
    box-shadow: 0px 2px 18px rgba(238, 139, 10,60%);
}
.input{
    display: block;
    transition: 1s;
}
.inputnone{
    display: none;
    transition: 1s;
}
.checkbox{
    margin-left: 30%;
    margin-top: 10%;
    
}
span{
    color: rgb(219, 214, 208);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*----------------------------------*/
.input2nd{
display: none;
transition: 1s;
}
.inputblock{
    display: block;
    transition: 1s;
}
.login2{
    margin-left: 26%;
    margin-top: 2.5rem;
    width: 6rem;
    color: white;
    height: 2.5rem;
    border-radius: 25px 0 0 25px;
    border: 2%;
    background-color: rgb(0, 0, 0,10%);
    transition: 0.5s;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    border-style:solid none solid solid;
    border-color: rgba(238, 139, 10, 50%);
    
}
.register2{
    width: 6rem;
    height: 2.5rem;
    border-radius: 0 25px 25px 0;
    border: 2%;
    margin-left: -1%;
    background-color: rgb(0, 0, 0,10%);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    border-style:solid solid solid none;
    border-color: rgba(238, 139, 10, 50%);
    background-color: rgba(238, 139, 10, 80%);
    box-shadow: 0px 1px 36px rgba(238, 139, 10, 80%) ;

}
.submit2{
    margin-left: 30%;
    margin-top: 19%;
    width: 10rem;
    height: 2rem;
    border-radius: 20px;
    border: 0;
    background-color:rgba(238, 139, 10,80%) ;
    transition: 0.5s;
    
}
.submit2:hover{
    transform: scale(1.2);
    transition: 0.5s;
    box-shadow: 0px 2px 36px rgba(238, 139, 10,80%);
}
@media screen and (max-width: 1207px){
.box {
    height: 40rem;
    width: 29rem;
    left:35% ;
  }
}
@media screen and (max-width:912px) {

    .box {
        top: 80%;
        left: 24%;
        height: 50rem;
    }
    #amtech {
        font-size: 4rem;
    }
}
@media screen and (max-width:946px) {

    .box {
        top: 80%;
        left: 24%;
    }
    #amtech {
        font-size: 4rem;
    }
}
@media screen and (max-width:800px) {

    .box {
        left: 20%;
    }
}
@media screen and (max-width:700px) {

    .box {
        top: 80%;
        left: 16%;
    }
    #amtech {
        margin-left: 15rem;
}
}
@media screen and (max-width:650px) {

    .box {
       
        left: 15%;
    }
}
@media screen and (max-width:605px) {

    .box {
        top: 80%;
        margin-left: -4%;
    }
    #amtech {
        margin-left: 12rem;
}
}
@media screen and (max-width:585px) {

    .box {
        
        left: 14%;
    }
}
@media screen and (max-width:550px) {

    .box {
        left: 9.8%;
    }
}
@media screen and (max-width:526px) {

    .box {
        top: 80%;
        left: 8%;
    }
    #amtech {
        margin-left: 2%;
}
}
@media screen and (max-width:526px) {

    .box {
        top: 80%;
        left: 7.5%;
    }
}
@media screen and (max-width:490px) {

    .box {
        top: 80%;
        left: 8%;
    }
    #amtech {
        font-size: 3rem;
    }
}
@media screen and (max-width:480px) {

    .box {
        top: 80%;
        left: 6%;
    }
    #amtech {
       margin-left: 32%;
    }
}
@media screen and (max-width:447px) {

    .box{
        top: 80%;
        left: 4.5%;
         height: 35rem;
         width: 23rem;
        
     }
}
@media screen and (max-width:1440px) {

    .box {
        
        height: 45rem;
        width: 30rem;
    }
}
@media screen and (min-width:2560px) {

    .box {
        
        height: 90rem;
        width: 63rem;
    }
    .login {
        margin-left: 31%;
        margin-top: 2.5rem;
        width: 13rem;
        height: 6.5rem;
        font-size: 2rem;
    }
    .login2 {
        margin-left: 31%;
        margin-top: 2.5rem;
        width: 13rem;
        height: 6.5rem;
        font-size: 2rem;
    }
    .register {
       
        width: 13rem;
        height: 6.5rem;
        font-size: 2rem;
    }
    .register2 {
       
        width: 13rem;
        height: 6.5rem;
        font-size: 2rem;
    }
    #input1 {
        height: 6rem;
        width: 28rem;
        font-size: 2rem;
    }
    #input2 {
        height: 6rem;
        width: 28rem;
        font-size: 2rem;
    }
    span{
        font-size: 2.5rem;
    }
    input.checkbox{
        width: 2.8rem;
        height: 2rem;
    }
    .submit {
        margin-left: 30%;
        margin-top: 49%;
        width: 26rem;
        height: 7rem;
        font-size: 2rem;
    }
    .submit2 {
        margin-left: 30%;
        margin-top: 14%;
        width: 26rem;
        height: 7rem;
        font-size: 2.3rem;
    }
    .input2 {
        margin-left: 28%;
        margin-top: 10%;
        height: 6rem;
        width: 29rem;
        font-size: 2rem;
    }
    #amtech {
        font-size: 10rem;
        margin-left: 5rem;
    }
}
